/*CSS переменные для цвета */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #f5f5f5;
  --footer-text-color: #ffffff;
}
/* Global */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--title-text-color);
}

/* Сброс атрибутов списков */
.list {
  list-style-type: none;
}

/* Сброс атрибутов ссылок */
.logo,
.menu-studio,
.menu-portfolio,
.menu-contacts {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--title-text-color);
}
/* Menu */
.menu-studio,
.menu-portfolio,
.menu-contacts {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  color: currentColor;
}
/* Подсветка текущей страницы */
.menu-studio {
  color: var(--accent-color);
}

/* Contacts */
.contacts-mail,
.contacts-tel {
  text-decoration: none;
  /* color: var(--primary-text-color); */
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
.features-list h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.image {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team p {
  font-size: 16px;
  line-height: 11.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
